{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" action="" id="admin-form" class="js-validate">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label class="form-label" for="password" >
                        <span class="d-flex justify-content-between align-items-center">
                            <span>Contraseña Actual</span>
                        </span>
                    </label>
                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg"
                            name="loginpassword" id="loginpassword" 
                            aria-label="Contraseña Actual" required  
                            data-hs-toggle-password-options='{
                                "target": "#actual_changePassTarget",
                                "defaultClass": "bi-eye-slash",
                                "showClass": "bi-eye",
                                "classChangeTarget": "#actual_changePassIcon"
                                }' required>
                        <a id="actual_changePassTarget" tabindex="-1" class="input-group-append input-group-text"
                            href="javascript:;">
                            <i id="actual_changePassIcon" class="bi-eye"></i>
                        </a>
                    </div>
                    
                </div>
            </div>

            <span class="divider-center my-5">Nueva Contraseña</span>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label class="form-label" for="password" >
                        <span class="d-flex justify-content-between align-items-center">
                            <span>Nueva Contraseña</span>
                        </span>
                    </label>
                
                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg"
                            name="contrasena" id="contrasena" 
                            aria-label="Nueva Contraseña" required minlength="8"
                            data-hs-toggle-password-options='{
                                "target": "#nueva_changePassTarget",
                                "defaultClass": "bi-eye-slash",
                                "showClass": "bi-eye",
                                "classChangeTarget": "#nueva_changePassIcon"
                                }' required>
                        <a id="nueva_changePassTarget" tabindex="-1" class="input-group-append input-group-text"
                            href="javascript:;">
                            <i id="nueva_changePassIcon" class="bi-eye"></i>
                        </a>
                    </div>
                    
                </div>
            
                <div class="col-md-6 col-lg-6">
                    <label class="form-label" for="password" >
                        <span class="d-flex justify-content-between align-items-center">
                            <span>Confirmar nueva contraseña</span>
                        </span>
                    </label>
                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg"
                            name="confirmar" id="confirmar" 
                            aria-label="Confirmar Contraseña" required minlength="8"
                            data-hs-toggle-password-options='{
                                "target": "#confirmar_changePassTarget",
                                "defaultClass": "bi-eye-slash",
                                "showClass": "bi-eye",
                                "classChangeTarget": "#confirmar_changePassIcon"
                                }' required>
                        <a id="confirmar_changePassTarget" tabindex="-1" class="input-group-append input-group-text"
                            href="javascript:;">
                            <i id="confirmar_changePassIcon" class="bi-eye"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="my-3 float-end">
                <a type="submit" href="{{ url_for('dashboard.dashboard_home') }}" class="btn btn-danger btn-lg">Cancelar</a>
                <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}

    
{% endblock %}