<!-- Toast -->
<div class="toast toast-show fade border-start border-5" role="alert" aria-live="assertive" aria-atomic="true" id="toastNotification">
    <div class="toast-header">
    <div class="d-flex align-items-center flex-grow-1">
        <div class="flex-grow-1 ms-3">
        <h5 class="mb-0" id="toastNotificationTitle"></h5>
        <small class="ms-auto" id="toastNotificationSubTitle"></small>
        </div>
        <div class="text-end">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    </div>
    <div class="toast-body" id="toastNotificationBody">
    </div>
</div>
<!-- End Toast -->